@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales opcionales */
body {
  background-color: #f8fafc;
}
/* Ocultar barra de scroll en elementos horizontales */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
